doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='assets/css/siimple.min.css')
    link(rel='stylesheet' href='assets/css/main.css')
  body
    .siimple-alert.siimple-alert--warning#notification(style='text-align: center')