doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='assets/css/siimple.min.css')
    link(rel='stylesheet' href='assets/css/main.css')
    script(src='assets/js/jquery-2.2.4.min.js')
  body
    #notification