header
  text-align center
  text-transform: uppercase
  font-size: 40px

.container
  display inline-flex
  background black
  position relative
  left 50%
  transform: translate(-50%, 0%);

.draggable
  width 1px
  height 1px

.draggable::after
  display block
  position relative
  width 31px
  height 31px
  top -15px
  left -15px
  content ''
  background-image url('../img/aim.png')

.jqSimpleConnect
  z-index 999

span.description
  position relative
  top -15px
  left 10px
  color red
  text-transform lowercase

footer
  text-align: center