doctype html
head
  link(rel='stylesheet' href='css/main.css')
  script(src='https://code.jquery.com/jquery-2.2.4.min.js')

header Coletor de Posições

section.container
  img#drag-bound(src="#")
  #head.draggable
  //- span.description cabeça
  #neck.draggable
  
  #shoulder_left.draggable
  //- #shoulder_right.draggable
  //- #elbow_left.draggable
  //- #elbow_right.draggable
  //- #hand_left.draggable
  //- #hand_right.draggable
  //- #torso.draggable
  //- #hip_left.draggable
  //- #hip_right.draggable
  //- #knee_left.draggable
  //- #knee_right.draggable
  //- #foot_left.draggable
  //- #foot_right.draggable

footer Tente posicionar o ponto o mais próximo do centro da parte do corpo selecionada.

script(src='js/index.js')
script(src='js/sendData.js')