include includes/head.pug
header.siimple-h1(style='margin: 0 auto 2px auto') Coletor de Posições

form.siimple-h6(action='php/login.php' method='post' style='text-align: center')
  | Olá, eu me chamo 
  input.siimple-input(type='text' placeholder='Fulano da Silva' name='volunteer' autofocus)
  | !
  br
  button.siimple-btn.siimple-btn--green.go-button.center#done Começar!