doctype html
head
  link(rel='stylesheet' href='css/main.css')

header Coletor de Posições

section.container#drag-bound
  #head.draggable
    span.description Cabeça
  #rhand.draggable
    span.description Mão Direita
  #lhand.draggable
    span.description Mão Esquerda
  #rshoulder.draggable
    span.description Ombro Direito
  #lshoulder.draggable
    span.description Ombro Esquerdo

footer Tente posicionar o ponto o mais próximo do centro da parte do corpo selecionada.

script(src='js/index.js')
