head
  link(rel='stylesheet' href='css/main.css')

header Coletor de Posições

button.position-button

section.image-container
  img(src='#placeholder')

footer Tente posicionar o ponto o mais próximo do centro da parte do corpo selecionada.