doctype html
head
  link(rel='stylesheet' href='css/main.css')

header Coletor de Posições

section.container#drag-bound
  #head.draggable
    span.description Cabeça

footer Tente posicionar o ponto o mais próximo do centro da parte do corpo selecionada.

script(src='js/index.js')