include includes/head.pug
header.siimple-h1(style='margin: 0 auto 2px auto') Coletor de Posições

.center
  button.siimple-btn.siimple-btn--green.go-button#last-button Voltar!
  button.siimple-btn.siimple-btn--green.go-button#next-button Próximo!

section.container
  section.image-container
    img#drag-bound(src="#" width=800 height=600)
    #head.draggable
      span.description Cabeça
    #neck.draggable
      span.description Pescoço
    #shoulder_left.draggable
      span.description Ombro Esquerdo
    #shoulder_right.draggable
      span.description Ombro Direito
    #elbow_left.draggable
      span.description Cotovelo Esquerdo
    #elbow_right.draggable
      span.description Cotovelo Direito
    #hand_left.draggable
      span.description Mão Esquerda
    #hand_right.draggable
      span.description Mão Direita
    #torso.draggable
      span.description Tronco
    #hip_left.draggable
      span.description Quadril Esquerdo
    #hip_right.draggable
      span.description Quadril Direito
    #knee_left.draggable
      span.description Joelho Esquerdo
    #knee_right.draggable
      span.description Joelho Direito
    #foot_left.draggable
      span.description Pé Esquerdo
    #foot_right.draggable
      span.description Pé Direito

  footer.siimple-h6.siimple-pre(style="width: 800px; margin: auto; padding: 2px") Tente posicionar o ponto o mais próximo do centro da parte do corpo selecionada.

  script(src='assets/js/index.js')
  script(src='assets/js/ajax.js')